<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

{{!-- MARK: Table List --}}
<div class="container">
    <h2>Student list</h2>
    <table class="table table-striped" id="studentlist">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Class</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            {{#each this.model as |student|}}
            <tr onClick="showdetails(this)" data-target="#modalLoginForm" data-toggle="modal">
                <td>{{student.id}}</td>
                <td>{{student.name}}</td>
                <td>{{student.sclass}}</td>
                <td>{{student.address}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- MARK: New Student Form --}}
<div class="container">
    <h2>Add New Student</h2>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="id" class="col-md-2 control-label">ID</label>
            <div class="col-md-5">
                {{input value = model.id class="form-control"}}
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-md-2 control-label">Name</label>
            <div class="col-md-5">
                {{input value = model.name class="form-control"}}
            </div>
        </div>
        <div class="form-group">
            <label for="class" class="col-md-2 control-label">Class</label>
            <div class="col-md-5">
                {{input value = model.sclass class="form-control"}}
            </div>
        </div>
        <div class="form-group">
            <label for="address" class=" col-md-2 control-label">Address</label>
            <div class="col-md-5">
                {{textarea value = model.address class='form-control'}}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button {{action "addnew"}} class="btn btn-sm btn-primary">Add</button>
            </div>
        </div>
    </form>
</div>

{{!-- MARK: Student Details --}}
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Student Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onClick="document.location.reload(true)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <form>
                    <div class="md-form mb-5">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        {{!-- <input type="text" id="sid" class="form-control validate"> --}}
                        <label data-error="wrong" data-success="right" for="sid">ID</label>
                        {{input value = id type="text" id="sid" class="form-control validate" disabled="disabled"}}
                    </div>

                    <div class="md-form mb-5">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        {{!-- <input type="text" id="sname" class="form-control validate"> --}}
                        <label data-error="wrong" data-success="right" for="sname">Name</label>
                        {{input value = model.name type="text" id="sname" class="form-control validate"}}
                    </div>

                    <div class="md-form mb-5">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        {{!-- <input type="text" id="sclass" class="form-control validate"> --}}
                        <label data-error="wrong" data-success="right" for="sclass">Class</label>
                        {{input value = model.sclass type="text" id="sclass" class="form-control validate"}}
                    </div>

                    <div class="md-form mb-4">
                        <i class="fas fa-lock prefix grey-text"></i>
                        {{!-- <input type="text" id="saddress" class="form-control validate"> --}}
                        <label data-error="wrong" data-success="right" for="saddress">Address</label>
                        {{textarea value = model.address id="saddress" class="form-control validate"}}
                    </div>

                    <div class="modal-footer d-flex justify-content-center">
                        <button {{action "updateinfo" id}} class="btn btn-default">Update</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function showdetails(e) {
        document.getElementById("sid").value = e.cells[0].innerHTML;
        document.getElementById("sname").value = e.cells[1].innerHTML;
        document.getElementById("sclass").value = e.cells[2].innerHTML;
        document.getElementById("saddress").value = e.cells[3].innerHTML;
    }
</script>
{{outlet}}